.Event {
  @apply --component;
  padding-top: 98px;
  padding-bottom: 80px;
}

.event-container {
  border-top-left-radius: 80px;
  border: hidden;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30% 70%;
  text-align: center;
  vertical-align: bottom;
  font-family: 'Source Sans Pro', system-ui;
  grid-gap: 3px;

  /* div imagen*/
  & .event .event-image {
    box-shadow: 0px 5px 30px 5px #a41f28;
    border-top: 5px ridge #2e2324;
    @media (--event) {
      width: 100%;
      height: 100%;
    }
  }

  /* div del titulo */
  & .event:nth-of-type(1) {
    border: 5px ridge #2e2324;
    border-bottom: hidden;
    border-right: hidden;
    box-shadow: 5px 5px 20px #a41f28;
    padding: 3px;
    padding-top: 10px;
    background: #2e2324;
    font-family: 'Pacifico';
    font-size: 28px;
    max-height: 100%;

    & h1 {
      color: #f0becb;

      @media (--small) {
        font-size: 35px;
      }

      @media (--event) {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 28px;
      }
    }
  }

  /* div de la descripción */
  & .event:nth-of-type(2) {
    display: grid;
    /* flex-wrap: nowrap; */
    grid-template-columns: 1fr 1fr;
    text-align: left;
    justify-content: left;
    align-items: center;
    padding: 7px;
    border-bottom: 6px inset #a1a1a1;
    box-shadow: 0 0 20px #d82c19;
    background-color: #590f15;
    border-left: 5px ridge #2e2324;
    max-height: 100%;

    & .event-flexcontainer {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      height: 100%;
      align-items: center;
      &:nth-of-type(2) {
        padding-left: 8px;
        & p {
          @media (--event) {
            padding-top: 3px;
          }
        }
      }
    }
  }

  & .event:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 1/ -1;
  }

  & .event .event-flexcontainer {
    font-size: 20px;
    max-height: 100%;

    @media (--extra-small) {
      font-size: 11px;
    }

    @media (--location) {
      font-size: 13px;
    }
  }

  @media (--event) {
    border-top-left-radius: 50px;
  }
}
