.Fotos {
  @apply --component;
}

.fotos.container {
  border: solid green 2px;
  display: grid;
  @apply --containerGrid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
}

.fotos.container div {
  border: solid brown 2px;
  max-width: inherit;
  max-height: inherit;
}

.fotos.container div img {
  max-width:100%;
  height: 100%;
}
