.Fotos {
  @apply --component;
  padding-top: 20px;
}

.fotos-title {
  text-align: center;
  font-family: 'Boogaloo';
  padding-bottom: 10px;
  font-size: 25px;
  margin-top: 25px;
  box-shadow: 0px -10px 20px 5px #ff0018;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  & h1 {
    margin-top: 0px;
    border-bottom: groove #a41f28 10px;
    @media (--video){
      margin-bottom: 15px;
      font-size: 27px;
    }
  }
}

.fotos.container {
  /* border: solid green 2px; */
  display: grid;
  /* overflow: hidden; */
  @apply --containerGrid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 25px;
  box-shadow: 0 15px 25px 5px #2e2324;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--negroprueba1);
  justify-items: center;
  & div {
    border: ridge #56575b 4px;
    display: flex;
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, calc(100% - 50%)); */
    max-width: inherit;
    max-height: inherit;
    /* justify-content: space-between; */
    /* position: relative;
    left: 15%; */
    /* right:7.5%; */
    /* left:3.5%;
    right:3.5%; */
    box-shadow: 3px 3px 30px 10px #56575b;
    /* align-items: center; */
    /* vertical-align: center; */
    width:70%;
    & figure {
      margin: 0;
      padding:0;
      /* border: solid blue 2px; */
      max-width: 100%;
      max-height: 100%;
      & img {
        width:100%;
        height: 100%;
      }
    }
  }
}
