.Hero {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 30px;
}

.hero-container {
  display: grid;
  border:solid rgba(111, 115, 114, 0.7) 5px;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: repeat(3, 296px);
  grid-gap: 1px;
  max-width: 100%;
  height: 100%;
  justify-content: center;
  background: black;
}

.hero-container div {
  border:solid rgba(210, 6, 6, 0.4) 3px;
  max-width: inherit;
  max-height: inherit;
}

.hero-container div img {
  max-width:100%;
  height: 100%;
  vertical-align: top;
  /* object-fit: cover; */
}
