.History {
  padding:10px;
  padding-top: 30px;
  color: white;
}

.history-container {
  border: solid 2px red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  width: 100%;
  height: 100%;
}

.history-container div {
  border: solid red 2px;
  width: inherit;
  height: inherit;
}

.history-img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
