.Portada {
  @apply --component;
  padding-bottom: 5px;
  /* align-items: center; */
  text-align: center;
}

.logotipo {
  padding: 0;
  margin: 0;
  & img {
    max-width: 70%;
    padding: 0;
    margin: 0;
  }
}

.header.container {
  max-height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
  width:100%;
  position: fixed;
  top:0;
  z-index: 1000;
  background: rgba(0,0,0, 0.8);
  max-height: 100%;
}

.menu {
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding: 0;
  /* padding-top: 88px; */
  font-family: 'Fjalla One',sans-serif;
  @media (--extra-small) {
    font-size: 14px;
  }
}

.menu ul {
  padding:0;
  margin: 10px;
  /* justify-content: space-around; */
}

.menu li {
  display:inline-block;
  margin-left:90px;
  margin-right:90px;
  @media (--small) {
    display:inline-block;
    margin-left:28px;
    margin-right:28px;
  }
  @media (--extra-small) {
    display:inline-block;
    margin-left:13px;
    margin-right:13px
  }
}

.menu ul li a {
  cursor:pointer;
  color: gray;
  text-decoration: none;
}

.menu ul li:hover {
  box-shadow: 0px 0px 10px 10px #ff0018;
  /* background: green; */
}
