.Portada {
  @apply --component;
  padding-bottom: 5px;
  align-items: center;
}

.logotipo {
  padding: 0;
  margin: 0;
  & img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.header.container {
  max-height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: 'Fjalla One',sans-serif;
  @media (--extra-small) {
    font-size: 14px;
  }
}

.menu ul {
  padding:0;
  margin: 10px;
  /* justify-content: space-around; */
}

.menu li {
  display:inline-block;
  margin-left:88px;
  margin-right:88px;
  @media (--small) {
    display:inline-block;
    margin-left:28px;
    margin-right:28px;
  }
  @media (--extra-small) {
    display:inline-block;
    margin-left:13px;
    margin-right:13px;
  }
  @media (--nano) {
    margin-left:5px;
    margin-right:9px;
  }
}

.menu a {
  color: gray;
  text-decoration: none;
}
