.Portada {
  @apply --component;
  padding-bottom: 5px;
  align-items: center;
}

.logotipo {
  padding: 0;
  margin: 0;
  & img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.header.container {
  max-height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: var(--white); */
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: 'Fjalla One',sans-serif;
  @media (--extra-small) {
    font-size: 13px;
  }
}

.menu ul {
  padding:0;
  margin: 10px;
  @media (--small) {
    margin-left: 5px;
    margin-right: 5px;
  }
  @media (--extra-small) {
    margin-top:10px;
    margin-bottom: 10px;
  }
  @media (--nano) {
    margin-left: 0;
    margin-right: 0;
  }

}

.menu li {
  font-family: 'Source Sans Pro', system-ui;
  display:inline-block;
  margin-left:84px;
  margin-right:84px;
  font-weight: bold;
  @media (--medium) {
    margin-left:50px;
    margin-right:50px;
  }
  @media (--small) {
    margin-left:28px;
    margin-right:28px;
  }
  @media (--menuli) {
    margin-left: 18px;
    margin-right: 18px;
  }
  @media (--extra-small) {
    margin-left:13px;
    margin-right:13px;
  }
  @media (--nano) {
    margin-left:7px;
    margin-right:7px;
  }
}

.menu a {
  color: var(--white);
  /* font-weight: lighter; */
  text-decoration: none;
}
