:root {
  --gray: rgba(111, 115, 114, 0.7);
  --prueba: #A1A1A1;
  --white: #A7A9AC;
  --black: #2E2324;
  --redLow: rgba(210, 6, 6, 0.4);
  --redprueba: #a41f28;
  --negroprueba: #212226;
  --negroprueba1: #0a0b0f;
  --rojoframbuesa: #f0becb;
  --rojoapagado: #a41f28;
  --containerGrid: {
    max-width: 100%;
    height: 100%;
  }
  --component: {
    padding:10px;
    padding-top: 2px;
    padding-bottom: 40px;
    color: white;
  };
}

@custom-media --large screen (width > 1025px);
@custom-media --medium (min-width: 769px) and (width <=1025px);
@custom-media --small (min-width: 481px) and (width <= 768px);
@custom-media --small1 screen and (width <= 768px);
/* @custom-media --small screen and (width <= 768px); */
@custom-media --video screen and (max-width: 975px);
@custom-media --event screen and (width <= 645px);
/* @custom-media --small screen and (480 <= width <= 768); */
@custom-media --details (min-width: 480px) and (width <= 645px);
@custom-media --menuli (min-width: 480px) and (max-width: 567px);
@custom-media --history-title (min-width: 346px) and (max-width: 567px);
@custom-media --extra-small1 (min-width: 300px) and (width <= 480px);
@custom-media --extra-small screen and (max-width: 480px);
@custom-media --nano screen and (width <= 345px);
