.Video {
  @apply --component;
}

.video.container {
  border: solid green 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  @apply --containerGrid;
  padding:0;
  margin:0;
  & figure {
    max-width: 100%;
    height: 100% ;
    margin:0;
    & div {
      border: solid brown 2px;
      max-width: 100%;
      position:relative;
      padding-top: 56.25%;
      & iframe {
        border: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
