.Video {
  @apply --component;
  @media (--extra-small) {
    display: none;
  }
}

.video.container {
  border: solid green 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  @apply --component;
  padding:0;
  margin:0;
  & figure {
    border: solid brown 2px;
    max-width: inherit;
    max-height: inherit;
  }
}
