@custom-media --large screen (min-width: 1026px);

@custom-media --medium screen and (max-width: 1024.999);

@custom-media --small (min-width: 481px) and (max-width: 768px);

/* @custom-media --small screen and (480 <= width <= 768); */

@custom-media --extra-small screen and (max-width: 480px);

.Portada {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 30px;
  color: white;
  padding-bottom: 5px;
  align-items: center;
}

.logotipo {
  padding: 0;
  margin: 0
}

.logotipo img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

.header.container {
  max-height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: 'Fjalla One',sans-serif;
}

.menu {
  position: fixed;
}

.menu ul {
  padding:0;
  margin: 10px;
  /* justify-content: space-around; */
}

.menu li {
  display:inline-block;
  margin-left:90px;
  margin-right:90px
}

.menu a {
  color: gray;
  text-decoration: none;
}

.Hero {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 30px;
  color: white;
}

.hero-container {
  display: grid;
  max-width: 100%;
  height: 100%;
  border:solid rgba(111, 115, 114, 0.7) 5px;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: repeat(3, 296px);
  grid-gap: 1px
}

.hero-container div {
  border:solid rgba(210, 6, 6, 0.4) 3px;
  max-width: inherit;
  max-height: inherit;
}

.hero-container div img {
  max-width:100%;
  height: 100%;
  vertical-align: top;
}

.History {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 30px;
  color: white;
}

.history-container {
  border: solid 2px red;
  display: grid;
  max-width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-column-gap: 10px;
  grid-row-gap: 20px
}

.history-container div {
    border: solid red 2px;
    max-width: inherit;
    max-height: inherit
  }

.history-container div .history-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

.Fotos {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 30px;
  color: white;
}

.fotos.container {
  border: solid green 2px;
  display: grid;
  max-width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto)
}

.fotos.container div {
    border: solid brown 2px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, calc(100% - 50%));
    max-width: inherit;
    max-height: inherit;
    /* align-items:center; */
    justify-content: center
  }

.fotos.container div figure {
      /* align-items: center; */
      /* justify-content: center; */
      margin: 0;
      padding:0;
      border: solid blue 2px;
      max-width: 100%;
      max-height: 100%
    }

.fotos.container div figure img {
        width:100%;
        height: 100%;
      }

.Video {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 30px;
  color: white
}

.video.container {
  border: solid green 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding:10px;
  padding-top: 2px;
  padding-bottom: 30px;
  color: white;
  padding:0;
  margin:0
}

.video.container figure {
    border: solid brown 2px;
    max-width: inherit;
    max-height: inherit;
  }

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: black;
  font-family: 'Fjalla One',sans-serif;
}

@media screen and (max-width: 480px) {

.menu {
    font-size: 14px;
}

.menu li {
    display:inline-block;
    margin-left:13px;
    margin-right:13px
}

.hero-container {
    grid-template-rows: repeat(3, 150px)
}

.Video {
    display: none
}
  }

@media (--extra-small) {

.menu {
    font-size: 14px;
}

.menu li {
    display:inline-block;
    margin-left:13px;
    margin-right:13px
}

.hero-container {
    grid-template-rows: repeat(3, 150px)
}

.Video {
    display: none
}
  }

@media (min-width: 481px) and (max-width: 768px) {

.menu li {
    display:inline-block;
    margin-left:28px;
    margin-right:28px
}
  }

@media (--small) {

.menu li {
    display:inline-block;
    margin-left:28px;
    margin-right:28px
}
  }
