:root {
  /* 4E5050 */
}

@custom-media --large screen (min-width: 1026px);

@custom-media --medium (min-width: 769px) and (max-width: 1025px);

@custom-media --small (min-width: 481px) and (max-width: 768px);

/* @custom-media --small screen and (width <= 768px); */

@custom-media --event screen and (max-width: 645px);

/* @custom-media --small screen and (480 <= width <= 768); */

@custom-media --menuli (min-width: 480px) and (max-width: 567px);

@custom-media --history-title (min-width: 346px) and (max-width: 567px);

@custom-media --extra-small screen and (max-width: 480px);

@custom-media --nano screen and (max-width: 345px);

.Portada {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 40px;
  color: white;
  padding-bottom: 5px;
  align-items: center;
}

.logotipo {
  padding: 0;
  margin: 0
}

.logotipo img {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

.header.container {
  max-height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: 'Fjalla One',sans-serif
}

.menu ul {
  padding:0;
  margin: 10px

}

.menu li {
  font-family: 'Source Sans Pro', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  display:inline-block;
  margin-left:84px;
  margin-right:84px;
  font-weight: bold
}

.menu a {
  color: #A7A9AC;
  text-decoration: none;
}

.Hero {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 40px;
  color: white;
}

.hero-container {
  display: grid;
  max-width: 100%;
  height: 100%;
  border:groove #A1A1A1 5px;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: 1px
}

.hero-container div {
  border:outset #a41f28 3px;
  /* box-shadow: auto auto var(--redprueba); */
  max-width: inherit;
  max-height: inherit;
}

.hero-container div img {
  box-shadow: 3px 3px 10px #a41f28;
  width:100%;
  height: 100%;
  vertical-align: top;
}

.History {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 40px;
  color: white;
  padding-top: 51px;
}

.history-container {
  /* border: solid 2px red; */
  border-radius: 10px;
  display: grid;
  max-width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 10px;
  grid-row-gap: 80px;
  text-align: center
}

.history-container .history-div {
    overflow: hidden;
    border: inset #898A8E 3px;
    border-radius: 10px;
    max-width: inherit;
    max-height: 100%
  }

.history-container .history-div .history-title {
        padding-bottom: 5px;
        border: ridge #A41F28 5px;
        margin-left: 30%;
        margin-right: 30%;
        padding: 8px;
        background: #A3000F
    }

.history-container .history-div .history-title h1 {
          /* border-top: ridge #DB2530 10px; */
          border-left: 10px;
          border-left-style: groove ;
          border-left-color: #FF0018;
          margin:0;
          padding: 5px;
          color: #f0f1f1
        }

.history-container .history-div p {
      border: solid brown 2px;
      margin:8px;
      background: #212226;
      color: #D4D5D6
    }

.history-container .history-div .history-img {
      width: 100%;
      height: 100%;
    }

.history-container .history-div:nth-of-type(4) {
    grid-column:1 / 2;
    grid-row:2 / 3;
  }

.history-container .history-div:nth-of-type(3)  .history-title h1 {
      border-left: none;
      /* border-right: ridge #DB2530 10px; */
      border-right: 10px;
      border-right-style: ridge ;
      border-right-color: #FF0018;
    }

.Fotos {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 40px;
  color: white;
  padding-top: 20px;
}

.fotos-title {
  text-align: center;
  font-family: 'Boogaloo';
  padding-bottom: 10px;
  font-size: 25px;
  margin-top: 25px;
}

.fotos.container {
  /* border: solid green 2px; */
  display: grid;
  max-width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 25px;
  box-shadow: 0 0 30px 5px #2e2324;
  border-radius: 10px
  /* background: #d4d5d6; */
}

.fotos.container div {
    border: ridge #56575b 4px;
    display: flex;
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, calc(100% - 50%)); */
    max-width: inherit;
    max-height: inherit;
    justify-content: space-between;
    position: relative;
    left:5%;
    box-shadow: 3px 3px 30px 10px #56575b;
    /* align-items: center; */
    /* vertical-align: center; */
    width:70%
  }

.fotos.container div figure {
      margin: 0;
      padding:0;
      /* border: solid blue 2px; */
      max-width: 100%;
      max-height: 100%
    }

.fotos.container div figure img {
        width:100%;
        height: 100%;
      }

.Video {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 40px;
  color: white;
  padding-top: 51px;
}

.video.container {
  border: solid green 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  max-width: 100%;
  height: 100%;
  padding:0;
  margin:0
}

.video.container figure {
    max-width: 100%;
    height: 100% ;
    margin:0
  }

.video.container figure div {
      border: solid brown 2px;
      max-width: 100%;
      position:relative;
      padding-top: 56.25%
    }

.video.container figure div iframe {
        border: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #0a0b0f;
  font-family: 'Fjalla One', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

.Event {
  padding:10px;
  padding-top: 2px;
  padding-bottom: 40px;
  color: white;
  padding-top: 51px;
}

.event-container {
  border-top-left-radius: 80px;
  border: hidden;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 30% 70%;
  text-align: center;
  vertical-align: bottom;
  font-family: 'Source Sans Pro', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  grid-gap: 3px
}

.event-container .event .event-image {
    box-shadow: 0px 5px 30px #a41f28;
    border-top: 5px ridge #2e2324
  }

.event-container {
  /* div del titulo */
}

.event-container .event:nth-of-type(1) {
    border: 5px ridge #2e2324;
    border-bottom: hidden;
    border-right: hidden;
    box-shadow: 5px 5px 20px #a41f28;
    padding:3px;
    padding-top: 10px;
    background: #2e2324;
    font-family: 'Pacifico';
    font-size: 28px;
    max-height: 100%
  }

.event-container .event:nth-of-type(1) h1 {
      color: #f0becb
    }

.event-container {
  /* div de la descripción */
}

.event-container .event:nth-of-type(2) {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: left;
    align-items: center;
    padding: 7px;
    border-bottom: 6px inset #a1a1a1;
    box-shadow: 0 0 20px #d82c19;
    /* color: #d82c19; */
    /* background-position: center; */
    background-color: #590f15;
    border-left: 5px ridge #2e2324;
    max-height: 100%
  }

.event-container .event:nth-of-type(2) .event-flexcontainer:nth-of-type(2) {
      padding-left: 8px
    }

.event-container .event:nth-of-type(3) {
    /* text-align: center; */
    grid-column: 2 / 3;
    grid-row: 1/ -1;
    /* max-width: 100%; */
  }

.event-container .event .event-flexcontainer {
    font-size: 20px;
    max-height: 100%
  }

@media (min-width: 481px) and (max-width: 768px) {

.menu {
    font-size: 16px
}

.menu ul {
    margin-left: 5px;
    margin-right: 5px

}

.menu li {
    margin-left:28px;
    margin-right:28px
}

.history-container .history-div .history-title {
          margin-left: 27%;
          margin-right: 27%
    }

.history-container .history-div .history-title h1 {
           font-size: 90%
        }

.history-container .history-div p {
        font-size: 70%
    }

.event-container .event:nth-of-type(1) h1 {
        font-size:35px
    }
  }

@media (--small) {

.menu {
    font-size: 16px
}

.menu ul {
    margin-left: 5px;
    margin-right: 5px

}

.menu li {
    margin-left:28px;
    margin-right:28px
}

.history-container .history-div .history-title {
          margin-left: 27%;
          margin-right: 27%
    }

.history-container .history-div .history-title h1 {
           font-size: 90%
        }

.history-container .history-div p {
        font-size: 70%
    }

.event-container .event:nth-of-type(1) h1 {
        font-size:35px
    }
  }

@media screen and (max-width: 480px) {

.menu {
    font-size: 13px
}

.menu li {
    margin-left:13px;
    margin-right:13px
}

.hero-container {
    grid-template-rows: repeat(3, auto)
}

.event-container .event .event-flexcontainer {
      font-size: 11px
  }
  }

@media (--extra-small) {

.menu {
    font-size: 13px
}

.menu li {
    margin-left:13px;
    margin-right:13px
}

.hero-container {
    grid-template-rows: repeat(3, auto)
}

.event-container .event .event-flexcontainer {
      font-size: 11px
  }
  }

@media screen and (max-width: 345px) {

.menu ul {
    margin-left: 0;
    margin-right: 0

}

.menu li {
    margin-left:7px;
    margin-right:7px
}

.history-container .history-div .history-title {
          padding: 3px;
          margin-left: 11%;
          margin-right: 11%
    }

.history-container .history-div .history-title h1 {
            font-size: 70%
        }

.history-container .history-div p {
        font-size: 30%
    }
  }

@media (--nano) {

.menu ul {
    margin-left: 0;
    margin-right: 0

}

.menu li {
    margin-left:7px;
    margin-right:7px
}

.history-container .history-div .history-title {
          padding: 3px;
          margin-left: 11%;
          margin-right: 11%
    }

.history-container .history-div .history-title h1 {
            font-size: 70%
        }

.history-container .history-div p {
        font-size: 30%
    }
  }

@media (min-width: 769px) and (max-width: 1025px) {

.menu li {
    margin-left:50px;
    margin-right:50px
}

.history-container .history-div .history-title h1 {
            font-size: 95%
        }
  }

@media (--medium) {

.menu li {
    margin-left:50px;
    margin-right:50px
}

.history-container .history-div .history-title h1 {
            font-size: 95%
        }
  }

@media (min-width: 480px) and (max-width: 567px) {

.menu li {
    margin-left: 18px;
    margin-right: 18px
}
  }

@media (--menuli) {

.menu li {
    margin-left: 18px;
    margin-right: 18px
}
  }

@media (min-width: 346px) and (max-width: 567px){

.history-container .history-div .history-title {
          margin-left: 20%;
          margin-right: 20%;
          padding: 5px
    }

.history-container .history-div .history-title h1 {
            font-size: 80%
        }

.history-container .history-div p {
        font-size: 50%
    }
        }

@media (--history-title){

.history-container .history-div .history-title {
          margin-left: 20%;
          margin-right: 20%;
          padding: 5px
    }

.history-container .history-div .history-title h1 {
            font-size: 80%
        }

.history-container .history-div p {
        font-size: 50%
    }
        }

@media screen and (max-width: 645px) {

.event-container .event .event-image {
      width: 100%;
      height: 100%
  }

.event-container .event:nth-of-type(1) h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size:28px
    }

.event-container .event:nth-of-type(2) .event-flexcontainer:nth-of-type(2) p {
          padding-top: 3px
      }

.event-container .event .event-flexcontainer {
      font-size:13px
  }

.event-container {
    border-top-left-radius: 50px
}
    }

@media (--event) {

.event-container .event .event-image {
      width: 100%;
      height: 100%
  }

.event-container .event:nth-of-type(1) h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size:28px
    }

.event-container .event:nth-of-type(2) .event-flexcontainer:nth-of-type(2) p {
          padding-top: 3px
      }

.event-container .event .event-flexcontainer {
      font-size:13px
  }

.event-container {
    border-top-left-radius: 50px
}
    }
